USE [master]
GO
/****** Object:  Database [ATS]    Script Date: 12/3/2013 6:41:54 PM ******/
CREATE DATABASE [ATS]
GO
USE [ATS]
GO
/****** Object:  Table [dbo].[ATS_FolderCertificate]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_FolderCertificate](
	[Rowid] [int] IDENTITY(100000,1) NOT NULL,
	[HierarchyId] [int] NOT NULL,
	[CertificateId] [nvarchar](5) NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateAppliation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FolderCertificate] PRIMARY KEY CLUSTERED 
(
	[Rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_Hierarchy]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_Hierarchy](
	[Id] [int] IDENTITY(100000,1) NOT NULL,
	[ParentId] [int] NULL,
	[Sequence] [int] NULL,
	[NodeType] [nchar](1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[GroupId] [int] NULL,
	[ProjectStep] [nchar](20) NULL,
	[ProjectCode] [nchar](20) NULL,
	[ProjectStatus] [nchar](1) NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateApplication] [nvarchar](50) NOT NULL,
	[SCDUSASyncInd] [bit] NULL,
 CONSTRAINT [PK_ProjectHierarchy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_Messages]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_Messages](
	[Id] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Type] [nchar](2) NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateApplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_MessageType]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_MessageType](
	[Type] [nchar](2) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateApplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MessageType] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_Note]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_Note](
	[Id] [int] IDENTITY(100000,1) NOT NULL,
	[HierarchyId] [int] NOT NULL,
	[NoteType] [nchar](2) NOT NULL,
	[NoteStatus] [nchar](1) NOT NULL,
	[NoteTitle] [nvarchar](50) NOT NULL,
	[NoteText] [nvarchar](2000) NOT NULL,
	[SpecialInd] [bit] NULL,
	[CreatedByUser] [nvarchar](50) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateapplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FolderNote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_NoteType]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_NoteType](
	[NoteType] [nchar](2) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[LastUpdateTime] [datetime] NULL,
	[LastUpdateUser] [nvarchar](50) NULL,
	[LastUpdateComputer] [nvarchar](50) NULL,
	[LastUpdateapplication] [nvarchar](50) NULL,
 CONSTRAINT [PK_NoteType] PRIMARY KEY CLUSTERED 
(
	[NoteType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_Privilege]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_Privilege](
	[PrivilegeCode] [nvarchar](50) NOT NULL,
	[PrivilegeDescription] [nvarchar](500) NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateApplication] [nvarchar](50) NOT NULL,
	[SubSystem] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Privileges] PRIMARY KEY CLUSTERED 
(
	[PrivilegeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_Profile]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_Profile](
	[RowId] [int] NOT NULL,
	[ProfileDescription] [nvarchar](50) NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateApplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_ProfilePrivilege]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_ProfilePrivilege](
	[RowId] [int] NOT NULL,
	[ProfileId] [int] NOT NULL,
	[PrivilegeCode] [nvarchar](50) NOT NULL,
	[LastUpdateTime] [datetime] NULL,
	[LastUpdateUser] [nvarchar](50) NULL,
	[LastUpdateComputer] [nvarchar](50) NULL,
	[LastUpdateApplicationr] [nvarchar](50) NULL,
 CONSTRAINT [PK_ProfilePrivilege] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_ProjectStep]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_ProjectStep](
	[StepCode] [nchar](20) NOT NULL,
	[StepDescription] [nvarchar](500) NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateapplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProjectStep] PRIMARY KEY CLUSTERED 
(
	[StepCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_SchemaVersion]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_SchemaVersion](
	[VersionNo] [int] NOT NULL,
	[Date] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_SystemParameters]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_SystemParameters](
	[Variable] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](500) NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateapplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VariableName] PRIMARY KEY CLUSTERED 
(
	[Variable] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_UserProfile]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_UserProfile](
	[RowId] [int] NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[EffectiveDate] [nchar](10) NOT NULL,
	[ExpirationDate] [nchar](10) NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateApplicationr] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_Version]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_Version](
	[VersionId] [int] IDENTITY(100000,1) NOT NULL,
	[HierarchyId] [int] NOT NULL,
	[VersionName] [nvarchar](50) NOT NULL,
	[VersionSeqNo] [int] NOT NULL,
	[VersionStatus] [nchar](1) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[TargetPath] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateapplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProjectVersion] PRIMARY KEY CLUSTERED 
(
	[VersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATS_VersionContent]    Script Date: 12/3/2013 6:41:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATS_VersionContent](
	[Rowid] [int] IDENTITY(100000,1) NOT NULL,
	[VersionId] [int] NOT NULL,
	[ContentVersionId] [int] NOT NULL,
	[ContentSeqNo] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastUpdateTime] [datetime] NOT NULL,
	[LastUpdateUser] [nvarchar](50) NOT NULL,
	[LastUpdateComputer] [nvarchar](50) NOT NULL,
	[LastUpdateApplication] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VersionContent] PRIMARY KEY CLUSTERED 
(
	[Rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ATS_Hierarchy] ON 

GO
INSERT [dbo].[ATS_Hierarchy] ([Id], [ParentId], [Sequence], [NodeType], [Name], [Description], [GroupId], [ProjectStep], [ProjectCode], [ProjectStatus], [CreationDate], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication], [SCDUSASyncInd]) VALUES (100038, NULL, 10, N'F', N'Folder #1 Mod', N'Folder #1 Long Description', NULL, NULL, NULL, NULL, CAST(0x0000A26400BF4A85 AS DateTime), CAST(0x0000A28500A1E76A AS DateTime), N'SysAdmin', N'ES-W520', N'Explorer', NULL)
GO
INSERT [dbo].[ATS_Hierarchy] ([Id], [ParentId], [Sequence], [NodeType], [Name], [Description], [GroupId], [ProjectStep], [ProjectCode], [ProjectStatus], [CreationDate], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication], [SCDUSASyncInd]) VALUES (100039, NULL, 10, N'F', N'Folder #2', N'Folder #2 Long Description', NULL, NULL, NULL, NULL, CAST(0x0000A26400BF69E5 AS DateTime), CAST(0x0000A26400BF7F00 AS DateTime), N'SysAdmin', N'ES-W520', N'Explorer', NULL)
GO
INSERT [dbo].[ATS_Hierarchy] ([Id], [ParentId], [Sequence], [NodeType], [Name], [Description], [GroupId], [ProjectStep], [ProjectCode], [ProjectStatus], [CreationDate], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication], [SCDUSASyncInd]) VALUES (100040, NULL, 10, N'F', N'Folder #3', N'Folder #3 very very long description', NULL, NULL, NULL, NULL, CAST(0x0000A26400BF83BA AS DateTime), CAST(0x0000A26400BF9E8F AS DateTime), N'SysAdmin', N'ES-W520', N'Explorer', NULL)
GO
SET IDENTITY_INSERT [dbo].[ATS_Hierarchy] OFF
GO
INSERT [dbo].[ATS_Messages] ([Id], [Description], [Type], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (100, N'The name is already in use. Please specify another name.', N'E ', CAST(0x0000A26400BF4A85 AS DateTime), N'SysAdmin', N'ES-W520', N'Explorer')
GO
INSERT [dbo].[ATS_Messages] ([Id], [Description], [Type], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (101, N'Are you sure you want to remove the folder?', N'W ', CAST(0x0000A26400BF4A85 AS DateTime), N'SysAdmin', N'ES-W521', N'Explorer')
GO
INSERT [dbo].[ATS_Messages] ([Id], [Description], [Type], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (102, N'Are you sure you want to disable the note?', N'W ', CAST(0x0000A26400BF4A86 AS DateTime), N'SysAdmin', N'ES-W522', N'Explorer')
GO
INSERT [dbo].[ATS_MessageType] ([Type], [Description], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (N'E ', N'Error', CAST(0x0000A28800D91432 AS DateTime), N'SysAdmin', N'MyCmp', N'Explorer')
GO
INSERT [dbo].[ATS_MessageType] ([Type], [Description], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (N'I ', N'Info', CAST(0x0000A28800D9A05E AS DateTime), N'SysAdmin', N'MyCmp', N'Explorer')
GO
INSERT [dbo].[ATS_MessageType] ([Type], [Description], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (N'W ', N'Warning', CAST(0x0000A28800D989F8 AS DateTime), N'SysAdmin', N'MyCmp', N'Explorer')
GO
INSERT [dbo].[ATS_NoteType] ([NoteType], [Description], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'C ', N'Comment', CAST(0x0000A28800E55DC1 AS DateTime), N'SysAdmin', N'MyComp', N'Explorer')
GO
INSERT [dbo].[ATS_NoteType] ([NoteType], [Description], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'W ', N'Work Instructions', CAST(0x0000A28800E569B9 AS DateTime), N'SysAdmin', N'MyComp', N'Explorer')
GO
INSERT [dbo].[ATS_Privilege] ([PrivilegeCode], [PrivilegeDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication], [SubSystem]) VALUES (N'101', N'AddNew', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'Eli', N'Manual', N'Explorer')
GO
INSERT [dbo].[ATS_Privilege] ([PrivilegeCode], [PrivilegeDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication], [SubSystem]) VALUES (N'102', N'MoveHierarchyBranch', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'Eli', N'Manual', N'Explorer')
GO
INSERT [dbo].[ATS_Privilege] ([PrivilegeCode], [PrivilegeDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication], [SubSystem]) VALUES (N'103', N'DeleteFolder', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'Eli', N'Manual', N'Explorer')
GO
INSERT [dbo].[ATS_Profile] ([RowId], [ProfileDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (1, N'System Administrators', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'ES', N'Manual')
GO
INSERT [dbo].[ATS_Profile] ([RowId], [ProfileDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplication]) VALUES (2, N'Default', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'ES', N'Manual')
GO
INSERT [dbo].[ATS_ProfilePrivilege] ([RowId], [ProfileId], [PrivilegeCode], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplicationr]) VALUES (1, 1, N'999', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'ES', N'Manual')
GO
INSERT [dbo].[ATS_ProfilePrivilege] ([RowId], [ProfileId], [PrivilegeCode], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplicationr]) VALUES (2, 2, N'101', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'ES', N'Manual')
GO
INSERT [dbo].[ATS_ProfilePrivilege] ([RowId], [ProfileId], [PrivilegeCode], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplicationr]) VALUES (3, 2, N'102', CAST(0x0000A26800000000 AS DateTime), N'Eli', N'ES', N'Manual')
GO
INSERT [dbo].[ATS_ProjectStep] ([StepCode], [StepDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'Kadel               ', N'Kadel', CAST(0x0000A27C00DDA185 AS DateTime), N'Sys', N'Comp', N'PPP')
GO
INSERT [dbo].[ATS_ProjectStep] ([StepCode], [StepDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'Step1               ', N'Step 1', CAST(0x0000A27C00DDC4E4 AS DateTime), N'Sys', N'Comp', N'PPP')
GO
INSERT [dbo].[ATS_ProjectStep] ([StepCode], [StepDescription], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'Step1a              ', N'Step 1a', CAST(0x0000A27400B9A2A6 AS DateTime), N'Admin', N'MyComp', N'Explorer')
GO
INSERT [dbo].[ATS_SchemaVersion] ([VersionNo], [Date]) VALUES (4, CAST(0x0000A27800A59F7C AS DateTime))
GO
INSERT [dbo].[ATS_SchemaVersion] ([VersionNo], [Date]) VALUES (3, CAST(0x0000A27800CD83A3 AS DateTime))
GO
INSERT [dbo].[ATS_SchemaVersion] ([VersionNo], [Date]) VALUES (5, CAST(0x0000A27900C64DC7 AS DateTime))
GO
INSERT [dbo].[ATS_SystemParameters] ([Variable], [Description], [Type], [Value], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'CMConnectionString', N'Content Management DB Connection String', N'string', N'Data Source=(local)\SQLExpress;Initial Catalog=GenPR_Test;Integrated Security=true;', CAST(0x0000A27800A49C1C AS DateTime), N'Admin', N'MyComp', N'Explorer')
GO
INSERT [dbo].[ATS_SystemParameters] ([Variable], [Description], [Type], [Value], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'ProjectLocalPath', N'Regular Projects Files Local Path', N'String', N'C:\TestSCD', CAST(0x0000A28800FB6C20 AS DateTime), N'SysAdmin', N'MyComp', N'Explorer')
GO
INSERT [dbo].[ATS_SystemParameters] ([Variable], [Description], [Type], [Value], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateapplication]) VALUES (N'RelatedProjectLocalPath', N'Related Projects Files Local Path', N'String', N'C:\TestSCD', CAST(0x0000A28800FB495B AS DateTime), N'SysAdmin', N'MyComp', N'Explorer')
GO
INSERT [dbo].[ATS_UserProfile] ([RowId], [UserId], [ProfileId], [EffectiveDate], [ExpirationDate], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplicationr]) VALUES (1, N'SysAdmin', 1, N'2013-01-01', NULL, CAST(0x0000A26800000000 AS DateTime), N'Eli', N'ES', N'Manual')
GO
INSERT [dbo].[ATS_UserProfile] ([RowId], [UserId], [ProfileId], [EffectiveDate], [ExpirationDate], [LastUpdateTime], [LastUpdateUser], [LastUpdateComputer], [LastUpdateApplicationr]) VALUES (2, N'EliSt', 2, N'2013-01-01', NULL, CAST(0x0000A26800000000 AS DateTime), N'Eli', N'ES', N'Manual')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXUQ_HierarchyGroupName]    Script Date: 12/3/2013 6:41:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXUQ_HierarchyGroupName] ON [dbo].[ATS_Hierarchy]
(
	[Name] ASC
)
WHERE ([NodeType]='G')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXUQ_HierarchyParentIdName]    Script Date: 12/3/2013 6:41:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXUQ_HierarchyParentIdName] ON [dbo].[ATS_Hierarchy]
(
	[ParentId] ASC,
	[Name] ASC
)
WHERE ([NodeType] IN ('F', 'P'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IXUQ_HierarchyProjectCodeStep]    Script Date: 12/3/2013 6:41:54 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IXUQ_HierarchyProjectCodeStep] ON [dbo].[ATS_Hierarchy]
(
	[ProjectCode] ASC,
	[ProjectStep] ASC
)
WHERE ([ProjectCode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_VersionName]    Script Date: 12/3/2013 6:41:54 PM ******/
ALTER TABLE [dbo].[ATS_Version] ADD  CONSTRAINT [UQ_VersionName] UNIQUE NONCLUSTERED 
(
	[HierarchyId] ASC,
	[VersionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATS_FolderCertificate]  WITH CHECK ADD  CONSTRAINT [FK_FolderCertificate_Hierarchy] FOREIGN KEY([HierarchyId])
REFERENCES [dbo].[ATS_Hierarchy] ([Id])
GO
ALTER TABLE [dbo].[ATS_FolderCertificate] CHECK CONSTRAINT [FK_FolderCertificate_Hierarchy]
GO
ALTER TABLE [dbo].[ATS_Hierarchy]  WITH CHECK ADD  CONSTRAINT [FK_Hierarchy_Hierarchy] FOREIGN KEY([ParentId])
REFERENCES [dbo].[ATS_Hierarchy] ([Id])
GO
ALTER TABLE [dbo].[ATS_Hierarchy] CHECK CONSTRAINT [FK_Hierarchy_Hierarchy]
GO
ALTER TABLE [dbo].[ATS_Hierarchy]  WITH CHECK ADD  CONSTRAINT [FK_Hierarchy_Hierarchy1] FOREIGN KEY([GroupId])
REFERENCES [dbo].[ATS_Hierarchy] ([Id])
GO
ALTER TABLE [dbo].[ATS_Hierarchy] CHECK CONSTRAINT [FK_Hierarchy_Hierarchy1]
GO
ALTER TABLE [dbo].[ATS_Hierarchy]  WITH CHECK ADD  CONSTRAINT [ProjectStep_FK] FOREIGN KEY([ProjectStep])
REFERENCES [dbo].[ATS_ProjectStep] ([StepCode])
GO
ALTER TABLE [dbo].[ATS_Hierarchy] CHECK CONSTRAINT [ProjectStep_FK]
GO
ALTER TABLE [dbo].[ATS_Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_MessageType] FOREIGN KEY([Type])
REFERENCES [dbo].[ATS_MessageType] ([Type])
GO
ALTER TABLE [dbo].[ATS_Messages] CHECK CONSTRAINT [FK_Messages_MessageType]
GO
ALTER TABLE [dbo].[ATS_Note]  WITH CHECK ADD  CONSTRAINT [FK_FolderNote_NoteType] FOREIGN KEY([HierarchyId])
REFERENCES [dbo].[ATS_Hierarchy] ([Id])
GO
ALTER TABLE [dbo].[ATS_Note] CHECK CONSTRAINT [FK_FolderNote_NoteType]
GO
ALTER TABLE [dbo].[ATS_Note]  WITH CHECK ADD  CONSTRAINT [FK_Note_NoteType] FOREIGN KEY([NoteType])
REFERENCES [dbo].[ATS_NoteType] ([NoteType])
GO
ALTER TABLE [dbo].[ATS_Note] CHECK CONSTRAINT [FK_Note_NoteType]
GO
ALTER TABLE [dbo].[ATS_ProfilePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_ProfilePrivilege_Privilege] FOREIGN KEY([PrivilegeCode])
REFERENCES [dbo].[ATS_Privilege] ([PrivilegeCode])
GO
ALTER TABLE [dbo].[ATS_ProfilePrivilege] CHECK CONSTRAINT [FK_ProfilePrivilege_Privilege]
GO
ALTER TABLE [dbo].[ATS_ProfilePrivilege]  WITH CHECK ADD  CONSTRAINT [FK_ProfilePrivilege_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[ATS_Profile] ([RowId])
GO
ALTER TABLE [dbo].[ATS_ProfilePrivilege] CHECK CONSTRAINT [FK_ProfilePrivilege_Profile]
GO
ALTER TABLE [dbo].[ATS_UserProfile]  WITH CHECK ADD  CONSTRAINT [FK_UserProfile_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[ATS_Profile] ([RowId])
GO
ALTER TABLE [dbo].[ATS_UserProfile] CHECK CONSTRAINT [FK_UserProfile_Profile]
GO
ALTER TABLE [dbo].[ATS_Version]  WITH CHECK ADD  CONSTRAINT [FK_GroupVersion_Group] FOREIGN KEY([HierarchyId])
REFERENCES [dbo].[ATS_Hierarchy] ([Id])
GO
ALTER TABLE [dbo].[ATS_Version] CHECK CONSTRAINT [FK_GroupVersion_Group]
GO
ALTER TABLE [dbo].[ATS_VersionContent]  WITH CHECK ADD  CONSTRAINT [FK_VersionContent_GroupVersion] FOREIGN KEY([VersionId])
REFERENCES [dbo].[ATS_Version] ([VersionId])
GO
ALTER TABLE [dbo].[ATS_VersionContent] CHECK CONSTRAINT [FK_VersionContent_GroupVersion]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK, unique row Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_FolderCertificate', @level2type=N'COLUMN',@level2name=N'Rowid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hierarchy node id of the folder' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_FolderCertificate', @level2type=N'COLUMN',@level2name=N'HierarchyId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Certificate Id (received from RM system)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_FolderCertificate', @level2type=N'COLUMN',@level2name=N'CertificateId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Certificate effective date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_FolderCertificate', @level2type=N'COLUMN',@level2name=N'EffectiveDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Certificate expiration date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_FolderCertificate', @level2type=N'COLUMN',@level2name=N'ExpirationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control fields' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_FolderCertificate', @level2type=N'COLUMN',@level2name=N'LastUpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Node unique id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Node parent Id, FK, references Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Node sequence number within hierarchy branch' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'Sequence'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tree node type: Folder (F), Project(P), Group (G)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'NodeType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Node name to be displayed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Folder/Project/Group description. A text box on properties tab of the folder, populated by user, optional' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'Description', @value=N'The value is set to ''Y'' if node is a related project' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'GroupId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Multi MAKAT GroupId, FK, references Id column. Will be null for not Related projects' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'GroupId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Project Step. Will be null for Related projects. Project Step will be populated for referenced Group record.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'ProjectStep'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Project Code.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'ProjectCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Project status. O(open), D (disabled)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'ProjectStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Node creation date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'LastUpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'LastUpdateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'LastUpdateComputer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Hierarchy', @level2type=N'COLUMN',@level2name=N'LastUpdateApplication'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Message Id. Message test is retrived by Message Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Messages', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Message text' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Messages', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E, W, I' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_MessageType', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-Error, W-Warning, I-Info' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_MessageType', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK, references Hierarchy.Id column  (Group record in case of Related project)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'HierarchyId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note type - Work Instruction(W), Comment(C)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'NoteType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note status - Disabled (D), Active (A)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'NoteStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note title, mandatory when creating new note' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'NoteTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note text' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'NoteText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indicates whether the note is special (1) or not (0)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'SpecialInd'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'User that created the note' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'CreatedByUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note creation date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control fields' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Note', @level2type=N'COLUMN',@level2name=N'LastUpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Note type - W or C' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_NoteType', @level2type=N'COLUMN',@level2name=N'NoteType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Type description. Work Instruction (W) or Comment (C)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_NoteType', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control fields' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_NoteType', @level2type=N'COLUMN',@level2name=N'LastUpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Step code (KADEL, STEP1, etc.), populated by SCD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_ProjectStep', @level2type=N'COLUMN',@level2name=N'StepCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Step description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_ProjectStep', @level2type=N'COLUMN',@level2name=N'StepDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control fields' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_ProjectStep', @level2type=N'COLUMN',@level2name=N'LastUpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Variable name (LocalPath, etc.)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_SystemParameters', @level2type=N'COLUMN',@level2name=N'Variable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Variable description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_SystemParameters', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Variable type (int, string, etc.)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_SystemParameters', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Variable value (C:\Users\user\Desktop\Projects\)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_SystemParameters', @level2type=N'COLUMN',@level2name=N'Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique version Id, PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'VersionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK, references Hierarchy.Id column (Group record in case of Related project)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'HierarchyId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Version Name, populated upon creation of any new version' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'VersionName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Version Sequence number within project branch' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'VersionSeqNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Version Status - Active(A), Closed (C)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'VersionStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Version description. Mandatory, will be populated upon version creation' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Target path for version files' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'TargetPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Version Creation date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control fields' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_Version', @level2type=N'COLUMN',@level2name=N'LastUpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK, unique row Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'Rowid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Version Unique Id, FK, references Version table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'VersionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Unique ContentVersionId of the content associated to the project' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'ContentVersionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Content execution sequence number' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'ContentSeqNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'The date when the content was assigned to the project' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'LastUpdateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'LastUpdateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'LastUpdateComputer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Control Field' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ATS_VersionContent', @level2type=N'COLUMN',@level2name=N'LastUpdateApplication'
GO
USE [master]
GO
